@page "/register"

<PageTitle>Register - Basketball Management</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-8">
    <MudPaper Elevation="4" Class="pa-8">
        <div style="text-align: center; margin-bottom: 32px;">
            <MudIcon Icon="@Icons.Material.Filled.SportsBasketball"
                     Size="Size.Large"
                     Color="Color.Primary"
                     Style="font-size: 3rem; margin-bottom: 16px;" />

            <MudText Typo="Typo.h4" GutterBottom="true">
                Join Basketball Management
            </MudText>

            <MudText Typo="Typo.h6" Color="Color.Secondary">
                Create your account to get started
            </MudText>
        </div>

        @if (!string.IsNullOrEmpty(Message))
        {
            <MudAlert Severity="Severity.Error" Class="mb-4">
                @Message
            </MudAlert>
        }

        <EditForm Model="@Model" OnValidSubmit="HandleRegister">
            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="Model.FirstName"
                                  Label="First Name"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Person"
                                  Required="true"
                                  For="@(() => Model.FirstName)" />
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="Model.LastName"
                                  Label="Last Name"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Person"
                                  Required="true"
                                  For="@(() => Model.LastName)" />
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="Model.Email"
                                  Label="Email Address"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Email"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Email"
                                  Required="true"
                                  For="@(() => Model.Email)" />
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="Model.UserName"
                                  Label="Username"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.AccountCircle"
                                  Required="true"
                                  For="@(() => Model.UserName)" />
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="Model.Password"
                                  Label="Password"
                                  Variant="Variant.Outlined"
                                  InputType="@_passwordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@_passwordInputIcon"
                                  OnAdornmentClick="TogglePasswordVisibility"
                                  AdornmentAriaLabel="Show Password"
                                  Required="true"
                                  For="@(() => Model.Password)" />
                </MudItem>

                <MudItem xs="12">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Large"
                               FullWidth="true"
                               StartIcon="@Icons.Material.Filled.PersonAdd"
                               Disabled="@_isLoading">
                        @if (_isLoading)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Creating Account...</MudText>
                        }
                        else
                        {
                            <MudText>Create Account</MudText>
                        }
                    </MudButton>
                </MudItem>

                <MudItem xs="12" Class="text-center">
                    <MudDivider Class="my-4">
                        <MudText Typo="Typo.body2" Color="Color.Secondary">or</MudText>
                    </MudDivider>

                    <MudText Typo="Typo.body2">
                        Already have an account?
                        <MudLink Href="/login" Color="Color.Primary">
                            <strong>Sign in here</strong>
                        </MudLink>
                    </MudText>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>